{% extends 'base.html' %}
{% block content %}
<div style="text-align: center; height: 800px">
    <div style="position: absolute;left:38% ;top: 20%;">
        <h3>分工</h3>
        <br>
    <ul style="font-size:16px">
        <li>黄秋瑞：后端：cpu顺序实现，yo、json文件处理，扩展功能</li><br>
        <li>蒋瑜贤：前端：网页设计，文件传输和端口管理，前端交互</li><br>
        <li>闾韵：后端：指令集扩展</li>
    </ul>
    </div>
    <div style="position: absolute;left:42% ;top: 55%;">
    <h3>联系我们</h3>
    <br>
    <ul style="font-size:16px">
        <li>黄秋瑞：21302010061@m.fudan.edu.cn</li><br>
        <li>蒋瑜贤：21307130453@m.fudan.edu.cn</li><br>
        <li>闾韵：21302010065@m.fudan.edu.cn</li>
    </ul>
    </div>
</div>
{% endblock %}